# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/
src-tauri/gen/schemas/
src-tauri/WixTools/
src-tauri/tauri.key
src-tauri/tauri.key.pub

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
.env.*.local

# OS
Thumbs.db

demo/
scripts/

tauri.key
tauri.key.pub